.wrap{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background: aliceblue;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;

}
.block{
    padding: 20px;
    border: 2px solid #357bd7;
}
.u{
    height: 300px;
    width: 500px;
}
.p{
    width: 500px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}